@charset "UTF-8";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f9f9f9;
  }
main {
  flex: 1 0 auto;
}

.brand-logo{
  font-family: 'Pattaya', sans-serif;
}

.intro-img{
 margin-top: 50px;
 width: 200px;
 padding: 0;
 background: #f9f9f9;
 border-radius: 50%;
 transform: rotate(5deg);
}

.text-intro{
  margin-top: 15%;
}

.title{
  text-align: center
}

.btn-up{
  position: fixed;
  right: 15px;
  bottom: 30px;
}
