@charset "UTF-8";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f3f3f3;
  overflow-x: auto;
  }
main {
  flex: 1 0 auto;
  overflow-x: hidden;
}

nav{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

header{
  color: #444 !important;
}


.logo{
  font-family: 'Pattaya', sans-serif;
  font-size: 25pt;
  text-align: right;
  
}

.wellcome{
  min-height: 100vh;
  background-color: #222;
  overflow-y: hidden !important;
}

.wellcome-text{
  position: relative;
  top: 30vh;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18pt;
  color: #ccc;
  font-family: 'Merienda', cursive;
  text-align: justify !important;
}

.btn-down{
  position: relative;
  color: #f1f1f1;
  top: 20rem;
}

.down{
  font-size: 100pt;
}

.link-down{
  color: #f1f1f1;
}

.about-me{
  min-height: 100vh;
}

.intro-img{
  position: relative;
 margin-top: 150px;
 width:280px;
 padding: 0;
 background: #f9f9f9;
 border-radius: 50%;
 transform: rotate(5deg);
 left: -100%;
}

.text-intro{
  margin-top: 27%;
  margin-left: 10px;
  border-left: 3px solid #888;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
  position: relative;
  right: -150%;
}

.title{
  text-align: center;
  font-weight: bolder;
  font-size: 32pt;
  font-family: 'Pattaya', sans-serif;
  position: relative;
  left: 150%;
  color: #444;
}

.btn-up{
  position: fixed;
  right: 15px;
  bottom: -200px;
}

.skils{
  margin-top: 100px;
  padding: 40px 30px 40px 20px;
  border-right: 3px solid #888;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
  margin-bottom: 100px;
  margin-right: 10px;
  text-align: right;
}

.title-skils{
  text-align: center;
  font-weight: bolder;
  font-size: 22pt;
}


.skil{
  font-size: 15pt;
  margin-left: 20px;
}

.progress{
  height: 10px;
  background-color:transparent;
}

.projects{
  margin-top: 200px;
  padding: 40px 20px 50px 40px;
  border-left: 3px solid #888;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
  margin-bottom: 100px;
  margin-left: 10px;
  position: relative;
  left: -150%;
}

.title-projects{
  text-align: center;
  font-weight: bolder;
  font-size: 22pt
}

.text-projects{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
}

.project-area{
  border-right: 3px solid cornflowerblue;
  padding: 40px 20px 40px 20px;
  margin-right: 10px;
}

.git{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12pt;
  font-weight: bolder;
}

.page-footer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13pt;
}

.icons{
  font-size: 2.3rem;
}

hr{
  margin: 0 30% 0 30%;

}

.contact{
  margin: 100px;
  font-weight: bolder;
  padding-top: 40px;
}

.name, .email{
  position: relative;
  left: -150%;
}

.last-name{
  position: relative;
  right: -150%;
}

.msg{
  position: relative;
  bottom: 100rem;
}

.title-contact{
  position: relative;
  transform: scale(0);
}

.btn-action{
  bottom: 30px;
  right: 15px;
}

.social-btn{
  margin: 5px;
}

@media only screen and (max-width: 780px) {
  
  .logo{
    font-size: 20pt;
  }

  .wellcome-text{
    position: relative;
    top: 18vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18pt;
    color: #ccc;
    font-family: 'Merienda', cursive;
    }

  .btn-down{
    position: relative;
    top: 25vh;
  }

  .down{
    font-size: 100pt;
  }
  
  .intro-img{
      margin-top: 50px;
    }

    .title{
      font-size: 25pt;
    }

    .text-intro{
      margin-top: 15%;
    }

    .skils{
      padding: 60px 30px 0px 20px;
      margin-top: 50px;
    }

    .skil{
      margin-left: 40px;
    }

    .progress{
      height: 12px;
      margin-left: 20px;
      width: 80%;
    }

    .project-area{
        padding: 20px 20px 40px 20px;
        text-align: center;
    }

    .projects{
      padding: 40px 20px 20px 30px;

    }

    .drag-target{
      min-width: 10vw !important;
    }

    .contact{
      min-height: 100vh;
      margin-top: 100px;
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 0;
      padding-top: 50px;
      padding-bottom: 0;
      font-weight: bolder;
    }

    .social-btn{
      text-align: center;
      width: 80%;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 823px) and (orientation: landscape){
   
    .btn-down{
      top: 0vh;
    }
   
    .text-intro{
      margin-left: 50px;
    }

    .title{
      font-size: auto;
    }

    .text-intro{
      margin-top: 15%;
    }

    .skils{
      padding: 0px 30px 0px 20px;
      margin-top: 50px;
      margin-right: -50px;
    }

    .progress{
      height: 12px;
    }

    .project-area{
        padding: 20px 20px 40px 20px;
        text-align: center;
        margin-right: -50px;
        
    }

    .projects{
      margin-left: -50px;
      padding: 40px 20px 20px 30px;

    }

    
  }
 