@charset "UTF-8";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    background-color: #010000;
    }
  main {
    flex: 1 0 auto;
  }

  ::-webkit-scrollbar{
      width: 10px;
  }

  ::-webkit-scrollbar-track{
      background-color: transparent;
  }

  ::-webkit-scrollbar-thumb{
      background-color: transparent;
  }

  ::-webkit-scrollbar-corner{
      background-color: transparent;
  }

  .info-sistem{
      background-color: #010000;
      height: 30px;
      z-index: 1000;
      position: fixed;
      width: 100%;
  }

  .top{
      background-color: #111;
      height: 60px;
      margin-top: 30px;
      position: fixed;
      width: 100%;
    max-width: 100vw !important;
    overflow-y: hidden;
    z-index: 1000;
  }

.recently-played{
    position: relative;
    top: -50px;
    text-align: center;
    max-width: 100vw !important;
    width: 1000px;
    
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

.title-rp{
    position: relative;
    top: 70px;
    text-align: center;
    padding-bottom: 15px;
    margin: auto;
}

.scroll-rp{
    min-width: 720px;
    white-space: nowrap;
    height: 300px;
    overflow: auto;
    overflow-y: scroll;
}

.title-yr{
    position: relative;
    top: -55px;
    text-align: center;
    padding-bottom: 15px;
    margin: auto;
}

.your-rotation{
    position: relative;
    top: -170px;
    text-align: center;
    max-width: 100vw !important;
    width: 1000px;
    
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

.scroll-yr{
    min-width: 720px;
    white-space: nowrap;
    height: 300px;
    overflow: auto;
    overflow-y: scroll;   
}

.box-img{
    height: 120px;
    width: 120px;
    background-color: #333;
    margin: 10px;
    float: left;
    margin-top: 130px
}

.music-name{
   font-size: 10pt;
   min-width: 720px;
   white-space: nowrap;
   height: 70px;
   overflow: auto;
   overflow-y: scroll;
   margin-top: -45px
}

.cd{
    
    width: 120px;
    margin: 10px;
    white-space: nowrap;
    margin-top: 0px;
    position: relative
}