@charset "utf-8";

html, *{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#home{
    display: flex;
    flex-direction: column;
    background: #222;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #cdcdcd
}

footer span{
    position: absolute;
    bottom: 0;
    color: white;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196f3;
   
}





.icon-menu{
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 10px;
    position: absolute;
    z-index: 1000;
}


 .bar1{
     position: absolute;
    background-color: #fff;
    height: 5px;
    width: 40px;
    top: 20px;
    left: 20px;
    z-index: 1000 !important;
    transition: .5s;
}

.bar2{
    position: absolute;
   background-color: #2196f3;
   height: 5px;
   width: 40px;
   top: 40px;
   left: 20px;
   z-index: 1000 !important;
   transition: .5s;
}

.bar1-on{
    transform: rotate(45deg);
    top: 38px;
    transition: .5s;
}

.bar2-on{
    transform: rotate(-45deg);
    bottom: 38px;
    transition: .5s;
}

.nav{
    background-color: purple;
    min-height: 100vh;
    position: absolute;
    z-index: 500;
    width: 100vw;
    top: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-on{
       top: 0 !important;
       z-index: 900 !important;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bolder;
    font-size: 2.4em;
    line-height: 50px;
    text-align: center;
}

ul li a:hover{
    text-decoration: underline overline;
    transition: .2s;
    cursor: pointer;
}



#enterprise{
    background-color: #4a148c;
    min-height: 105vh;
    position: absolute;
    z-index: 500;
    width: 100vw;
    top: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.enterprise-on{
       top: 0 !important;
}

#portifolio{
    background-color: #b71c1c;
    min-height: 135vh;
    position: absolute;
    z-index: 500;
    width: 100vw;
    bottom: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.portifolio-on{
       bottom: -35vh !important;
}


#galery{
    background-color: #1a237e;
    min-height: 105vh;
    position: absolute;
    z-index: 500;
    width: 100vw;
    top: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.galery-on{
       top: 0 !important;
}


#contact{
    background-color: #880e4f ;
    min-height: 135vh;
    position: absolute;
    z-index: 500;
    width: 100vw;
    bottom: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contact-on{
       bottom: -35vh !important;
}


